@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

$primary: rgb(0, 119, 255);
$secondary: #eee;
$background: #000;

@mixin boxshadow {
    box-shadow: -4px -4px 8.5px #ffffff63, 
                4px 4px 5px rgba(94, 104, 121, 0.151);
}
@mixin flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $background;
    scroll-behavior: smooth;
}
h1{
    font-weight: 700;
}
h4{
    font-size: 14px;
    font-weight: 700;
    background-color: $primary;
    color: $background;
    width: 100px;
    padding: .2rem 0;
}
.line{
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: $primary;
}
p{
    font-size: 12px;
    width: 80%;
    line-height: 1rem;
}
#services, #projects, #gallery, #footer,.left{
    background-color: #dde1e7;
}

.side-nav{
    position: absolute;
    top: 270px;
    ul{
        padding-left: 1rem;
        li{
            list-style: none;
            a{
                div{
                    background-color: $background;
                    margin: 1rem 0;
                    width: 17px;
                    height: 2.5px;
                    border-radius: 3px;
                    cursor: pointer;
                }
            }
        }
        .full{
            width: 30px;
        }
        .half:hover{
            width: 30px;
            transition: .3s ease-in;
        }
    }
}

.landing{
    height: 100vh;
    width: 100%;
    display: flex;
    .left{
        width: 50%;
        height: 100vh;
        p,span,h1,p{
            color: $background;
        }
        .logo{
            position: relative;
            top: 20px;
            left: 20px;
            font-family: 'Press Start 2P', cursive;
            h1{
                font-size: 15px;
                color: $background;
            }
        }
        
        .social{
            position: relative;
            top: 540px;
            left: 15px;
            .link{
                color: $secondary;
                height: 15px;
                width: 15px;
                border: 1px solid $secondary;
                border-radius: 50%;
                position: relative;
                margin: 1rem 0;
                cursor: pointer;
                span{
                    position: relative;
                    left: 20px;
                    top: -3px;
                }
            }
            .link:nth-child(1):hover{
                background-color: rgb(147, 86, 209);
                transition: .2s ease-in-out;
            }
            .link:nth-child(2):hover{
                background-color: $primary;
                transition: .2s ease-in-out;
            }
            .link:nth-child(3):hover{
                background-color: rgb(114, 145, 247);
                transition: .2s ease-in-out;
            }
            .link:nth-child(4):hover{
                background-color: rgb(128, 208, 255);
                transition: .2s ease-in-out;
            }
        }
        .content{
            width: 95%;
            position: relative;
            top: 40px;
            left: 100px;
            z-index: 1;
            p, span{
                font-family: sans-serif;
                font-weight: 100;
                line-height: 1.5rem;
            }
            h1{
                padding-bottom: 2rem;
                font-size: 10rem;
                letter-spacing: 1px;
                color: $primary;
                z-index: 0;
                opacity: .8;
                font-family: 'Press Start 2P', cursive;
            }
            span{
                font-size: 24px;
                position: relative;
                top: -20px;
                left: 25px;
                letter-spacing: 2px;
            }
            p{
                width: 40%;
                font-size: 15px;
                font-weight: lighter;
                position: relative;
                left: 25px;
            }
        }
    }
    .right{
        width: 50%;
        height: 100vh;
        .bg-img{
            width: 100%;
            height: 100%;
            position: absolute;
            img{
                width: 50%;
                height: 100%;
            }
        }

        #theme-btn{
            position: relative;
            top: 10px;
            left: 10px;
            border: 1px solid $secondary;
            width: 50px;
            height: 24px;
            border-radius: 20px;
            text-align: center;
            cursor: pointer;

            .ball{
                height: 20px;
                width: 20px;
                border-radius: 50%;
                border: 1px solid $secondary;
                position: relative;
                top: 1px;
                left: 1px;
            }
            .ball:hover{
                position: relative;
                left: 27px;
                transition: .4s ease-in-out;
            }
        }

        #app.event{
            transition: all .3s ease-in-out;
            background-color: $secondary;
        }

        .menu-toggler{
            text-align: center;
            width: 100%;
            display: flex;
            justify-content: flex-end;

            #sidebar{
                position: relative;
                top: 0;
                left: 60px;
                width: 150px;
                height: 100vh;
             
                text-align: center;
                transform: perspective(1200px) rotateY(90deg);
                transform-origin: right;
                transition: all 400ms ease;
                ul{
                    text-align: center;
                    padding-top: 5rem;
                    li{
                        color: $primary;
                        font-size: 15px;
                        width: 100px;
                        list-style: none;
                        
                        border: 1px solid transparent;
                        transform: rotate(90deg);
                    }
                    li:hover{
                        border: 1px solid $secondary;
                    }
                    li:nth-child(4){
                        border: 1px solid $secondary;
                    }
                    li:nth-child(4):hover{
                        border: 1px solid transparent;
                    }
                }
            }
            #sidebar.active{
                transform: perspective(1200px) rotateY(0deg);
            }
            #toggle-btn{
                position: relative;
                top: -20px;
                left: -15px;
                transition: left 200ms linear 0ms, transform 300ms ease 100ms;

                span{
                    position: relative;
                    top: 0;
                    display: block;
                    background-color: $secondary;
                    width: 30px;
                    height: 2px;
                    margin: .5rem 0;
                    border-radius: 3px;
                    cursor: pointer;
                    transition: transform 300ms ease 200ms;
                }
            }
            #toggle-btn.active{
                transition: .5s ease-in;
            }
            #toggle-btn span:nth-child(1){
                width: 20px;
            }
            #toggle-btn span:nth-child(3){
                width: 20px;
            }
            #toggle-btn.active span:nth-child(1){
                top: 10px;
                transform: rotate(45deg);
                transition: .3s ease-in;
                width: 30px;
            }
            #toggle-btn.active span:nth-child(2){
                opacity: 0;
            }
            #toggle-btn.active span:nth-child(3){
                top: -10px;
                transform: rotate(-45deg);
                transition: .3s ease-in-out;
                width: 30px;
            }
        }
    }
}

.cards{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 4rem;
    .card{
        width: 20%;
        height: 500px;
        border: 1px solid transparent;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        img,h1,.line,p{
            margin: 1rem 0;
            color: $background;
        }
        h4{
            color: $secondary;
            font-family: sans-serif;
        }
        img{
            width: 150px;
            height: 100px;
        }
    }
    .card:hover{
        border: 1px solid $primary;
        position: relative;
        top: -15px;
        transition: .3s ease-in-out;
    }
    .card::before{
        content: '';
    }
    .card:hover::before{
        content: '+';
        font-size: 20px;
        font-weight: 500;
        color: $primary;
        position: relative;
        left: -100px;
    }
}

.grids{
    height: 100vh;
    padding-top: 3rem;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(4, 150px);
    .space{
        margin: .55rem;
    }
    .box-out{
        box-shadow: -4px -4px 8.5px #ffffff41, 
                    4px 4px 5px rgba(94, 104, 121, 0.089);
    }
    .grid:hover{
        box-shadow: inset -3px -3px 8.5px #ffffff41, 
                    inset 3px 3px 5px rgba(94, 104, 121, 0.089);
    }
    .grid{
        border-radius: 23px;
        align-items: center;
        justify-content: center;
        display: flex;
        img{
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
        .details{
            width: 100%;
            height: 100%;
            padding: 1rem .5rem;
            h1,h4,.line,p,.arrow{
                margin: 1.5rem;
                font-family: sans-serif;
                color: $background;
            }
            h4{
                text-align: center;
                background-color: $primary;
                color: $secondary;
            }
            .arrow{
                width: 40px;
                height: 3px;
                background-color: $secondary;
                cursor: pointer;
            }
            .arrow:hover{
                transition: .3s ease-in-out;
                width: 60px;
            }
        }
        h1 {
            margin: 0
        }
        .box {
            height: 100%;
            width: 100%;
            overflow: hidden;

            border-radius: 20px;
        }
        .hid-box {
            top: 100%;
            position: relative;
            transition: all .3s ease-out;
            background: linear-gradient(45deg, $primary, #07d89d);
            height: 100%;
        }
        .box:hover > .hid-box{
            top: 0;
        }
    }
    .grid-1{
        grid-row: 1 / 3;
    }
    .grid-2{
        grid-row: 1 / 3;
        grid-column: 2 / 4;
    }
    .grid-3{
        
    }
    .grid-4{
        grid-row: 1 / 3;
        grid-column: 5 / 7;
    }
    .grid-5{
        grid-row: 2 / 4;
    }
    .grid-6{
        grid-row: 3 / 5;
        grid-column: 1 / 3;
    }
    .grid-7{
        grid-row: 3 / 5;
    }
    .grid-8{
        
    }
    .grid-9{
        grid-row: 3 / 5;
        grid-column: 5 / 7;
    }
}

.gallery{
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
    .box {
        flex: 1;
        overflow: hidden;
        transition: .5s;
        margin: 0 2%;
        box-shadow: 0 20px 30px rgba(0,0,0,.1);
        line-height: 0;
    }
    
    .box > img {
        width: 200%;
        height: calc(90% + 10vh);
        object-fit: cover; 
        transition: .5s;
    }
    
    .box > span {
        font-size: 3.8vh;
        display: block;
        text-align: center;
        height: 10vh;
        line-height: 2.6;
    }
    
    .box:hover { flex: 1 1 50%; }
    .box:hover > img {
        width: 100%;
        height: 100%;
    }  
}
