* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

body {
  background-color: #000;
  scroll-behavior: smooth;
}

h1 {
  font-weight: 700;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  background-color: #0077ff;
  color: #000;
  width: 100px;
  padding: .2rem 0;
}

.line {
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background-color: #0077ff;
}

p {
  font-size: 12px;
  width: 80%;
  line-height: 1rem;
}

.landing {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing .left {
  width: 50%;
  height: 100vh;
}

.landing .left .logo {
  color: #eee;
  position: relative;
  top: 20px;
  left: 20px;
}

.landing .left .logo h1 {
  font-size: 15px;
}

.landing .left .side-nav {
  position: absolute;
  top: 270px;
}

.landing .left .side-nav ul {
  padding-left: 1rem;
}

.landing .left .side-nav ul li {
  list-style: none;
}

.landing .left .side-nav ul li a div {
  background-color: #eee;
  margin: 1rem 0;
  width: 17px;
  height: 2.5px;
  border-radius: 3px;
  cursor: pointer;
}

.landing .left .side-nav ul .full {
  width: 30px;
}

.landing .left .side-nav ul .half:hover {
  width: 30px;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
}

.landing .left .social {
  position: relative;
  top: 540px;
  left: 15px;
}

.landing .left .social .link {
  color: #eee;
  height: 15px;
  width: 15px;
  border: 1px solid #eee;
  border-radius: 50%;
  position: relative;
  margin: 1rem 0;
  cursor: pointer;
}

.landing .left .social .link span {
  position: relative;
  left: 20px;
  top: -3px;
}

.landing .left .social .link:nth-child(1):hover {
  background-color: #9356d1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.landing .left .social .link:nth-child(2):hover {
  background-color: #0077ff;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.landing .left .social .link:nth-child(3):hover {
  background-color: #7291f7;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.landing .left .social .link:nth-child(4):hover {
  background-color: #80d0ff;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.landing .left .content {
  width: 95%;
  position: relative;
  top: 20px;
  left: 150px;
  color: #eee;
  z-index: 1;
}

.landing .left .content p, .landing .left .content span {
  font-family: sans-serif;
  font-weight: 100;
  line-height: 1.5rem;
}

.landing .left .content h1 {
  font-size: 13rem;
  letter-spacing: 1px;
  color: #0077ff;
  z-index: 0;
}

.landing .left .content span {
  font-size: 24px;
  position: relative;
  top: -20px;
  left: 25px;
  letter-spacing: 2px;
}

.landing .left .content p {
  width: 40%;
  font-size: 15px;
  font-weight: lighter;
  position: relative;
  left: 25px;
}

.landing .right {
  width: 50%;
  height: 100vh;
}

.landing .right .bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.landing .right .bg-img img {
  width: 50%;
  height: 100%;
}

.landing .right #theme-btn {
  position: relative;
  top: 10px;
  left: 10px;
  border: 1px solid #eee;
  width: 50px;
  height: 24px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

.landing .right #theme-btn .ball {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #eee;
  position: relative;
  top: 1px;
  left: 1px;
}

.landing .right #theme-btn .ball:hover {
  position: relative;
  left: 27px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.landing .right #app.event {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #eee;
}

.landing .right .menu-toggler {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.landing .right .menu-toggler #sidebar {
  position: relative;
  top: 0;
  left: 60px;
  width: 150px;
  height: 100vh;
  text-align: center;
  -webkit-transform: perspective(1200px) rotateY(90deg);
          transform: perspective(1200px) rotateY(90deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.landing .right .menu-toggler #sidebar ul {
  text-align: center;
  padding-top: 5rem;
}

.landing .right .menu-toggler #sidebar ul li {
  color: #0077ff;
  font-size: 15px;
  width: 100px;
  list-style: none;
  border: 1px solid transparent;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.landing .right .menu-toggler #sidebar ul li:hover {
  border: 1px solid #eee;
}

.landing .right .menu-toggler #sidebar ul li:nth-child(4) {
  border: 1px solid #eee;
}

.landing .right .menu-toggler #sidebar ul li:nth-child(4):hover {
  border: 1px solid transparent;
}

.landing .right .menu-toggler #sidebar.active {
  -webkit-transform: perspective(1200px) rotateY(0deg);
          transform: perspective(1200px) rotateY(0deg);
}

.landing .right .menu-toggler #toggle-btn {
  position: relative;
  top: -20px;
  left: -15px;
  -webkit-transition: left 200ms linear 0ms, -webkit-transform 300ms ease 100ms;
  transition: left 200ms linear 0ms, -webkit-transform 300ms ease 100ms;
  transition: left 200ms linear 0ms, transform 300ms ease 100ms;
  transition: left 200ms linear 0ms, transform 300ms ease 100ms, -webkit-transform 300ms ease 100ms;
}

.landing .right .menu-toggler #toggle-btn span {
  position: relative;
  top: 0;
  display: block;
  background-color: #eee;
  width: 30px;
  height: 2px;
  margin: .5rem 0;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 300ms ease 200ms;
  transition: -webkit-transform 300ms ease 200ms;
  transition: transform 300ms ease 200ms;
  transition: transform 300ms ease 200ms, -webkit-transform 300ms ease 200ms;
}

.landing .right .menu-toggler #toggle-btn.active {
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.landing .right .menu-toggler #toggle-btn span:nth-child(1) {
  width: 20px;
}

.landing .right .menu-toggler #toggle-btn span:nth-child(3) {
  width: 20px;
}

.landing .right .menu-toggler #toggle-btn.active span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  width: 30px;
}

.landing .right .menu-toggler #toggle-btn.active span:nth-child(2) {
  opacity: 0;
}

.landing .right .menu-toggler #toggle-btn.active span:nth-child(3) {
  top: -10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 30px;
}

.cards {
  background-color: #dde1e7;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  padding: 4rem;
}

.cards .card {
  width: 20%;
  height: 500px;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards .card img, .cards .card h1, .cards .card h4, .cards .card .line, .cards .card p {
  margin: 1rem 0;
}

.cards .card img {
  width: 150px;
  height: 100px;
}

.cards .card:hover {
  border: 1px solid #0077ff;
}

.grids {
  height: 100vh;
  padding-top: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  background-color: #dde1e7;
  -ms-grid-columns: (150px)[6];
      grid-template-columns: repeat(6, 150px);
  -ms-grid-rows: (150px)[4];
      grid-template-rows: repeat(4, 150px);
}

.grids .space {
  margin: .55rem;
}

.grids .box-out {
  -webkit-box-shadow: -4px -4px 8.5px #ffffff41, 4px 4px 5px rgba(94, 104, 121, 0.089);
          box-shadow: -4px -4px 8.5px #ffffff41, 4px 4px 5px rgba(94, 104, 121, 0.089);
}

.grids .grid:hover {
  -webkit-box-shadow: inset -3px -3px 8.5px #ffffff41, inset 3px 3px 5px rgba(94, 104, 121, 0.089);
          box-shadow: inset -3px -3px 8.5px #ffffff41, inset 3px 3px 5px rgba(94, 104, 121, 0.089);
}

.grids .grid {
  border-radius: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grids .grid img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.grids .grid .details {
  width: 100%;
  height: 100%;
  padding: 1rem .5rem;
}

.grids .grid .details h1, .grids .grid .details h4, .grids .grid .details .line, .grids .grid .details p, .grids .grid .details .arrow {
  margin: 1.5rem;
  font-family: sans-serif;
}

.grids .grid .details h4 {
  text-align: center;
  background-color: #0077ff;
  color: #000;
}

.grids .grid .details .arrow {
  width: 40px;
  height: 3px;
  background-color: #eee;
  cursor: pointer;
}

.grids .grid .details .arrow:hover {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 60px;
}

.grids .grid-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.grids .grid-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.grids .grid-4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
}

.grids .grid-5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
}

.grids .grid-6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.grids .grid-7 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
}

.grids .grid-9 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
}
/*# sourceMappingURL=main.css.map */